.DS_Store
xcuserdata/
DerivedData/
build/
.build/
*.xcodeproj
.swiftpm/
*.p12
*.mobileprovision

# fastlane generates these on every run
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png.tmp
